@model DoAnASP1.Areas.Admin.Models.LoaiSPModels

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddModal">Thêm</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ten)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.NCC.TenNCC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TT)

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.DsLoaiSP)
        {
            <tr>
                <td>
                    @item.Ten
                </td>
                <td>
                    @item.MaNCC
                </td>
                <td>
                    @item.TT
                </td>
                <td>
                    <button type="button" name="edit_loaisanpham" data-idloaisp="@item.MaLoai" class="btn btn-primary" data-toggle="modal" data-target="#EditModal">Edit</button>
                    <button type="button" name="btn_delete_loaisanpham" data-idloaisp="@item.MaLoai" class="btn btn-danger">Delete</button>
                    <a asp-action="Delete" asp-route-id="@item.MaLoai">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function addLoaiSP() {
            var insert = {};
            insert.Ten = $("#tenloai").val();
            insert.MaNCC = parseInt($("#ncc").val());
            insert.TT = parseInt($("#trangthai").val());
            $.ajax({
                url: "../../API/LoaiSPModels/PostLoaiSPModels",
                type: "POST",
                contentType: "Application/json;charset-utf-8",
                data: JSON.stringify(insert),
                dataType: "json"
            }).done(function (reponse) {
                alert('Thêm vào loại sản phẩm thành công!');
                location.reload();
            }).fail(function () {
                alert('Thất bại !');
            });
        }
        function getLoaiSP(id) {
            $.ajax({
                url: "../../API/LoaiSPModels/GetLoaiSPModels/" + id,
                type: "GET",
                contentType: "Application/json;charset-utf-8",
                dataType: "json"
            }).done(function (reponse) {
                console.log(reponse);
                $("#edit_id").val(reponse.maLoai);
                $("#edit_tenloai").val(reponse.ten);
                $("#edit_ncc").val(reponse.maNCC);
                $("#edit_trangthai").val(reponse.tt);

            }).fail(function () {
                alert('Thất bại !');
            });
        }
        function updateLoaiSP(id) {
            var update = {}
            update.MaLoai = parseInt(id);
            update.Ten = $("#edit_tenloai").val();
            update.MaNCC = parseInt($("#edit_ncc").val());
            update.TT = parseInt($("#edit_trangthai").val());
            $.ajax({
                url: "../../api/LoaiSPModels/PutLoaiSPModels/" + id,
                type: "PUT",
                contentType: "Application/json;charset-utf-8",
                data: JSON.stringify(update),
                dataType: "json"
            }).done(function (reponse) {
                alert('Update sản phẩm thành công!');
                location.reload();
            }).fail(function () {
                alert('Thất bại !');
            });
        }
        function deleteLoaiSP(id) {

            $.ajax({
                url: "../../api/LoaiSPModels/DeleteLoaiSPModels/" + id,
                type: "DELETE",
                contentType: "Application/json;charset-utf-8",
                dataType: "json"
            }).done(function (reponse) {
                alert('Xóa sản phẩm thành công!');
                location.reload();
            }).fail(function () {
                alert('Thất bại !');
            });
        }
        $(document).ready(function () {
            $('button[name=btn_create_loaisanpham]').click(function (e) {
                addLoaiSP();
                e.preventDefault();
            });
            $('button[name=edit_loaisanpham]').click(function (e) {
                var id = $(this).data("idloaisp");
                getLoaiSP(id);
                e.preventDefault();
            });
            $('button[name=btn_update_loaisanpham]').click(function (e) {
                var id = $("#edit_id").val();
                updateLoaiSP(id);
                e.preventDefault();
            });
            $('button[name=btn_delete_loaisanpham]').click(function (e) {
                var id = $(this).data("idloaisp");
                deleteLoaiSP(id);
                e.preventDefault();
            });
        });

    </script>
}<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sửa sản phẩm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" id="edit_id" asp-for="MaLoai"  />
                    <div class="form-group">
                        <label asp-for="Ten" class="control-label"></label>
                        <input asp-for="Ten" id="edit_tenloai" class="form-control" />
                        <span asp-validation-for="Ten" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NCC" class="control-label"></label>
                        <select asp-for="NCC" id="edit_ncc" class="form-control" asp-items="ViewBag.NhaCungCap"></select>
                        <span asp-validation-for="NCC" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TT" class="control-label"></label>
                        <input asp-for="TT" id="edit_trangthai" class="form-control" />
                        <span asp-validation-for="TT" class="text-danger"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" name="btn_update_loaisanpham" class="btn btn-primary">Cập Nhật</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm loại sản phẩm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Ten" class="control-label"></label>
                        <input id="tenloai" asp-for="Ten" class="form-control" />
                        <span asp-validation-for="Ten" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NCC" class="control-label"></label>
                        <select asp-for="NCC" id="ncc" class="form-control" asp-items="ViewBag.NhaCungCap"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="TT" class="control-label"></label>
                        <input asp-for="TT" id="trangthai" class="form-control" />
                        <span asp-validation-for="TT" class="text-danger"></span>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" name="btn_create_loaisanpham" class="btn btn-primary">Thêm Mới</button>
            </div>
        </div>
    </div>
</div>